version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: frontend
    restart: unless-stopped
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: backend
    restart: unless-stopped
    environment:
      MONGO_URI: mongodb://mongo:27017/appdb
    networks:
      - app-network
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    container_name: mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:
